<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CUUApiEndpoint</key>
	<string>http://Gryffindor.fritz.box:8080/api</string>
	<key>CUUTrackingToken</key>
	<string>fd229115-a951-46a2-9b83-e910291822a7</string>
	<key>CUUCommitHash</key>
	<string>asdf</string>
	<key>CUUProjectID</key>
	<string>stagingexample</string>
</dict>
</plist>
